
ENVIRONMENT=dev
POSTGRES_PASSWORD=your_postgress_password


AI_AGENT_URL=http://localhost:8001
FILE_STORAGE_PATH=./uploads
SECRET_KEY=your-secert-key



SENTRY_DSN=
FRONTEND_URL=
RESEND_API_KEY=
GOOGLE_CLIENT_ID=
ADMIN_EMAIL=