
POSTGRES_PASSWORD=<same password as backend/.env>
QDRANT_API_KEY=<your qdrant key>


OPENAI_API_KEY=your_openai_api_key_here
LANGSMITH_API_KEY=your_langsmith_api_key_here
OPENROUTER_API_KEY=
SECRET_KEY=
SENTRY_DSN=
